/* Estilos generales */
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 1rem;
    margin: auto;
}

.centered {
    text-align: center;
}

.def-width {
    max-width: 1440px;
}

.main-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    background-color: #fff;
    padding: 0 1.5rem;
}

a:hover {
    color: #fd7e14 !important;
}

.navbar {
    box-shadow: rgb(0 0 0 / 40%) 0px 3px 20px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fd7e14 !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #fff !important;
}

.navbar {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-brand {
    color: #fd7e14;
    font-weight: 700;
    font-size: 1.4rem;
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand.active {
    color: #fd7e14 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .7) !important;
    font-size: 1rem;
    font-weight: 500;
}

.form-control:focus {
    border-color: #ffb375 !important;
    box-shadow: 0 0 0 0.25rem rgb(253 126 20 / 25%) !important;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.mycard {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.200);
    width: 94%;
}

.mycard-header,
.mycard-content {
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5rem;
}

.mycard-header h1,
.mycard-content h1,
.mycard-content h2,
.mycard-content p {
    margin: 0;
}

.mycard-image {
    width: 320px;
    height: 330px;
}

.mycard-image img {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.mycard-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.mycard-actions button,
.mycard-actions a {
    margin: 0 0.25rem;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(253 126 20 / 25%) !important;
}

.btn-outline {
    border-color: #fd7e14 !important;
    color: #fd7e14 !important;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #fff !important;
    background-color: #fd7e14 !important;
    border-color: #fd7e14 !important;
}

.btn-primary {
    border-color: #fd7e14 !important;
    background-color: #fd7e14 !important;
    color: #fff !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #fff !important;
    background-color: #af5e24 !important;
    border-color: #af5e24 !important;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product-name {
    font-size: 1.2rem;
    text-align: center;
    color: #4d4d4d;
}

.product-price {
    text-align: center;
    color: #4d4d4d;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.fa-cart-shopping {
    font-size: 1.2rem;
    color: #af5e24;
    cursor: pointer;
}

.detailed-image {
    height: 30rem;
    width: auto;
}

.pagination {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.pagination a {
    text-decoration: none;
    color: #fd7e14 !important;
    padding: 0.5rem;
    border: 1px solid #fd7e14;
    margin: 0 0.3rem;
    border-radius: 20%;
    width: 2.5rem;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
    background-color: #fd7e14;
    color: #fff !important;
}

.sort {
    display: flex;
    justify-content: center;
    margin: 1rem;
    flex-wrap: wrap;
    text-align: center;
}

.sort span {
    font-weight: 500;
    margin-right: 0.8rem;
}

.form-check {
    margin-right: 0.8rem;
    display: flex !important;
    justify-content: center;
}

.form-check input {
    margin-right: 0.4rem;
}

.form-check-input:checked {
    background-color: #fd7e14 !important;
    border-color: #bf6012 !important;
}

.form-check-input:focus {
    border-color: #ffc290 !important;
    box-shadow: 0 0 0 0.25rem rgb(253 126 20 / 25%) !important;
}

.error-description {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* Estilos para pantallas pequeñas hasta un tamaño máximo de 400px */
@media (max-width: 400px) {
    .mycard-image {
        width: 100%;
        height: 60%;
    }

    .mycard-image img {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    .sort {
        display: block;
        text-align: center;
    }
}

@media (max-width: 991px) {
    #menu-carro {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
    }

    .dropdownContent {
        width: 100% !important;
    }

    .title-carro {
        display: block !important;
        margin-left: 0.5rem;
        color: rgba(0, 0, 0, .7) !important;
        font-size: 1rem;
        font-weight: 500;
    }

    .title-carro:hover {
        color: #fd7e14 !important;
    }

    #lista-carrito>thead>tr th,
    #lista-carrito>tbody td {
        font-size: 1rem !important;
    }
}

@media (max-width: 480px) {

    #lista-carrito>thead>tr th,
    #lista-carrito>tbody td {
        font-size: 0.6rem !important;
    }

    #lista-carrito>tbody img {
        width: 3.5rem;
    }
}

#lista-carrito>thead>tr th,
#lista-carrito>tbody td {
    font-size: 0.9rem !important;
}

#lista-carrito>tbody img {
    width: 4.2rem;
}

.containerItemsCart {
    height: 100%;
    overflow-y: auto;
}

.dropdownContent {
    z-index: 99999;
    display: none;
    position: fixed;
    background-color: #fff;
    width: 30rem;
    box-shadow: 1.25rem 1.25rem 3.2rem 0.2rem rgb(0 0 0 / 60%);
    padding: .5rem;
    right: 0;
    top: 0;
    bottom: 0;
}

.fa-shopping-basket.carrito {
    color: #fd7e14;
    cursor: pointer;
    font-size: 2.5rem;
    transition: .2s;
}

.fa-shopping-basket.carrito:hover {
    color: #af5e24;
    transition: .2s;
}

.showElement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerCartEmpty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerCartEmpty i {
    text-align: center;
    color: #000;
    font-size: 5rem;
}

.containerCartEmpty p {
    text-align: center;
    color: #fd7e14;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.title-carro {
    display: none;
}

.table {
    text-align: center;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.table tbody {
    vertical-align: middle !important;
}

.borrar-producto {
    text-decoration: none !important;
    color: #fd7e14;
    font-size: 1.2rem;
}

.borrar-producto:hover,
.borrar-producto:focus,
.borrar-producto:active,
.borrar-producto.active {
    color: #af5e24 !important;
}

.botones-carrito {
    display: flex;
    margin-bottom: .8rem;
}